.mass__area {
    grid-area: m;
    background: #EEE0FF;
}

.mass__container {
    position: sticky;
    top: 0;
    /* Created with https://www.css-gradient.com */
    background: rgba(225, 186, 236, 0.77);
    background: -webkit-linear-gradient(right, rgba(238, 224, 255, 0.77), rgba(255, 255, 255, 0.8));
    background: -moz-linear-gradient(right, rgba(238, 224, 255, 0.77), rgba(255, 255, 255, 0.8));
    background: linear-gradient(to left, rgba(238, 224, 255, 0.77), rgba(255, 255, 255, 0.8));
    min-height: 100vh;
    border-radius: 50px 0 0 50px;
    padding: 90px 60px;
}

.nav_container a {
    text-decoration: none;
}

.logo {
    font-family: 'Titan One', cursive;
    font-size: 2rem;
    color: #464646;
    padding-bottom: 90px;
    padding-left: 10px;
}


.item a {
    color: #DADADA;;
    text-decoration: none;
}

.item {
    display: flex;
    margin: 30px 0;
    padding: 5px 0;
    color: #DADADA;
    align-items: center;
}

.item__icon {
    height: 1.2em;
    margin: 0 10px;
}

.active {
    /* Created with https://www.css-gradient.com */
    background: rgba(225, 186, 236, 1.0);
    background: -webkit-linear-gradient(right, rgba(225, 186, 236, 1.0), rgba(168, 209, 245, 1.0));
    background: -moz-linear-gradient(right, rgba(225, 186, 236, 1.0), rgba(168, 209, 245, 1.0));
    background: linear-gradient(to left, rgba(225, 186, 236, 1.0), rgba(168, 209, 245, 1.0));
    border-radius: 5px;
}

.active a {
    color: white;
}

.PremiumBlock {
    position: relative;
    color: white;
    text-decoration: none;
    padding: 40px 10px;
    font-size: 1.2rem;
    line-height: 1.4em;
    text-align: right;
    margin-top: 90px;
    background: rgba(225, 186, 236, 1.0);
    background: -webkit-linear-gradient(right, rgba(225, 186, 236, 1.0), rgba(168, 209, 245, 1.0));
    background: -moz-linear-gradient(right, rgba(225, 186, 236, 1.0), rgba(168, 209, 245, 1.0));
    background: linear-gradient(to left, rgba(225, 186, 236, 1.0), rgba(168, 209, 245, 1.0));
    min-height: 200px;
    border-radius: 20px;
}

.PremiumBlock__img_star {
    position: absolute;
    height: 70px;
    left: 25px;
    bottom: 20px;
}

.PremiumBlock__img_arrow {
    position: absolute;
    bottom: 50px;
    right: -5px;
}