.dialogsForm {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding-top: 20px;
}

.fieldArea {
    width: 100%;
    margin-right: 10px;
}

.field {
    background: rgba(218, 218, 218, 0.2);
    border-radius: 20px;
    resize: none;
    padding: 10px 15px;
    width: 100%;
}


.submitBtn {
    position: relative;
    padding: 10px;
    background: rgba(40, 136, 252, 0.8);
    border-radius: 20px;
    color: #ffffff;
}

.submitBtn:hover {
    background: #1c3faa;
}