.snackbar {
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 20px;
    padding: 5px 10px 5px 5px;
    left: 20px;
    background: #dc0303;
    color: #ffffff;
    border-radius: 20px;
}

.error {
    padding: 5px 15px;
}

.cross {
    cursor: pointer;
}

.cross :active {
    transform: translate(1px, 1px);
}
