* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Bree Serif', serif;
}

html, body {
    position: relative;
    height: 100%;
    width: 100%;
}

.app-wrapper {
    margin: auto;
    display: grid;
    min-height: 100%;
    grid-template-areas:  "n c";
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 12fr;
}

.app-wrapper-area-content {
    grid-area: c;
    background: #1c3faa;
}

.main-container {
    position: relative;
    margin-top: 15px;
    margin-right: 15px;
    padding: 15px;
    min-height: calc(100% - 15px);
    border-radius: 40px 40px 0 0;
    background: #f1f5f8;
}



