.dialogs {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.dialogs_items {
    width: 100%;
    background: #1c3faa;
    padding: 10px;
    border-radius: 20px;
    margin: 10px 0;
}

.massagesArea, .hintArea {
    background: #ffffff;
    border-radius: 20px;
    padding: 20px;
}

.massages {
    padding: 10px;
}

