.message, .messageMy {
    border-radius: 20px;
    padding: 10px;
    width: 90%;
    word-break: break-all;
    min-height: 40px;
}

.message {
    margin: 10px 0;
    color: #111010;
    background: #dadada;
}

.messageMy {
    margin: 5px 0;
    float: right;
    color: #ffffff;
    background: rgba(62, 92, 183, 0.9);
}