.nav_area {
    grid-area: n;
    background: #1c3faa;
}

.nav_container {
    position: sticky;
    top: 0;
    background: #1c3faa;
    min-height: 100vh;
    border-radius: 0 50px 50px 0;
    padding: 90px 60px;
}

.nav_container a {
    text-decoration: none;
}

.logo {
    font-family: 'Titan One', cursive;
    font-size: 2rem;
    color: #DADADA;
    padding-left: 10px;
    margin-bottom: 20px;
}

.logo::after {
    content: "";
    margin-top: 20px;
    display: block;
    width: 140%;
    height: 2px;
    background-color: #5268ac;
}

.item a {
    color: #DADADA;;
    text-decoration: none;
}

.item {
    display: flex;
    margin: 30px 0;
    padding: 5px 0;
    color: #DADADA;
    align-items: center;
}

.item__icon {
    height: 1.2em;
    margin: 0 10px;
}

.active {
    background: #3e5cb7;
    border-radius: 5px;
}

.active a {
    color: white;
}